* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body {
    width: 100vw;
    height: 100vh;
}
#softtext {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    width: 800px;
    height: 600px;
}